<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Titles</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href="/css/index.css" rel="stylesheet" type="text/css">

</head>
 <% include partials/nav.ejs %>
<body>
<center><h2>My Pins</h2></center>


<form action="/photos" method="post">
  
  <input name="photos" type="text" class="form-control" placeholder="paste img url" required>
  </label>  
  </label>  
  <input type="submit" value="Submit" class="btn btn-primary btn-block">

</form>



</body>
</html>
<% data.forEach(function(user) { %>

 <form action="/sub" method="post">
<div class="wrap">
 
     
    <div class="layer1"> <img src=" <%= user.photos %>" alt="some_text" height="90" width="90"> </img> </div>     
     <div class="layer3"><input type="radio" id="rd3" name="public" value="<%= user.photos %>" required >Public </div>      
     <div class="layer4"><input name="write" type="text" value="<%= user.write %>" placeholder="write sth"  maxlength="12" ></div>
        <input type="submit" value="PIN IT!" >
  
</div>
</form>

  <% }) %>


<% include partials/footer.ejs %>

